#container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#container-child{
    width: 80%;
    min-width: 350px;
    height: auto;
    border: 3px solid #0073DF;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
}

#container-child_card {
    width: 20%;
}